version: '3.8'

services:
  webapp:
    container_name: vuln-webapp
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - oracle
    environment:
      - DB_TYPE=oracle
    networks:
      - vuln-net

  oracle:
    image: gvenzl/oracle-free:latest
    container_name: vuln-oracle
    environment:
      - ORACLE_PASSWORD=StrongPassw0rd!123
      - APP_USER=todotask_user
      - APP_USER_PASSWORD=todotask_passwd
    ports:
      - "1521:1521"
    volumes:
      - oracle_data:/opt/oracle/oradata
    restart: unless-stopped
    networks:
      - vuln-net

volumes:
  oracle_data:

networks:
  vuln-net:
    driver: bridge