version: '3.8'

services:
  webapp:
    container_name: vuln-webapp
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mssql
    networks:
      - vuln-net
    volumes:
      - ./target/VulnTodoApp-1.0.war:/usr/local/tomcat/webapps/ROOT.war

  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: vuln-mssql
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=StrongPassw0rd!123 
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    restart: unless-stopped
    networks:
      - vuln-net

networks:
  vuln-net:
    driver: bridge